.block_lifecycle div.clc_info {
    background-color: #c6b0bc;
    border-radius: 5px;
    text-align: center;
    font-size: xx-large;
    color: #002248;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.block_lifecycle div.clc_info.current {
    background-color: #bbc592;
}

.block_lifecycle div.lifecycle {
    padding: 5px 0 5px 0;
}

div.lifecycle .delayfreezedate-input {
    width: 100%;
}

div.lifecycle .delayfreezedate {
    padding-top: 5px;
}

div.lifecycle .scheduled-freeze-date {
    color: darkred;
}

div.lifecycle .text-info {
    margin-top: 0;
}

/*The below CSS code were copied from Bootstrap to make the checkbox looks like toggle button.*/
div.lifecycle .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 0.125rem;
}
div.lifecycle .form-check div.lifecycle .form-check-input {
    float: left;
    margin-left: -1.5em;
}

div.lifecycle .form-check-reverse {
    padding-right: 1.5em;
    padding-left: 0;
    text-align: right;
}
div.lifecycle .form-check-reverse div.lifecycle .form-check-input {
    float: right;
    margin-right: -1.5em;
    margin-left: 0;
}

div.lifecycle .form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
div.lifecycle .form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
div.lifecycle .form-check-input:active {
    filter: brightness(90%);
}
div.lifecycle .form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
div.lifecycle .form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
div.lifecycle .form-check-input:checked[type=checkbox] {
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");*/
    background-image: url("/blocks/lifecycle/svg/1.svg");
}
div.lifecycle .form-check-input[type=checkbox]:indeterminate {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("/blocks/lifecycle/svg/2.svg");
}
div.lifecycle .form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
}
div.lifecycle .form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
    cursor: default;
    opacity: 0.5;
}

div.lifecycle .form-switch {
    padding-left: 2.5em;
}
div.lifecycle .form-switch .form-check-input {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("/blocks/lifecycle/svg/3.svg");
    background-position: left center;
    border-radius: 2em;
    transition: background-position 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    div.lifecycle .form-switch .form-check-input {
        transition: none;
    }
}
div.lifecycle .form-switch .form-check-input:focus {
    background-image: url("/blocks/lifecycle/svg/4.svg ");
}
div.lifecycle .form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("/blocks/lifecycle/svg/5.svg");
}
div.lifecycle .form-switch.form-check-reverse {
    padding-right: 2.5em;
    padding-left: 0;
}
div.lifecycle .form-switch.form-check-reverse .form-check-input {
    margin-right: -2.5em;
    margin-left: 0;
}
