{{!
    This file is part the Local Analytics plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_lifecycle/unfreeze_button

    Template for displaying the unfreeze button to unfreeze a frozen course.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * url - string The URL to the unfreeze page.
    * coursefullname - string The full name of the course.

    Example context (json):
    {
        "url": "http://test.m44.local/blocks/lifecycle/unfreeze.php?id=5",
        "coursename": "Test Course 1"
    }
}}
<button type="button"
        class="btn btn-primary w-100"
        data-confirmation="modal"
        data-confirmation-title-str='["label:unfreezebutton", "block_lifecycle"]'
        data-confirmation-content-str='["confirm:unfreeze_button", "block_lifecycle", {"contextname": "{{coursename}}"}]'
        data-confirmation-yes-button-str='["confirm"]'
        data-confirmation-destination="{{url}}"
>
    {{#str}} label:unfreezebutton, block_lifecycle {{/str}}
    <span class="sr-only"> for course {{coursename}}</span>
</button>
